---
import AppFooter from '../components/AppFooter.astro'
import AppHeader from '../components/AppHeader.astro'
import Benefits from '../components/Benefits.astro'
import Collections from '../components/Collections.astro'
import HeroSection from '../components/HeroSection.astro'
import AppLayout from '../layouts/AppLayout.astro'
import '../styles/global.css'
---

<AppLayout>
	<div class="w-app-boundary mx-auto">
		<AppHeader />
		<main class="w-app-content-boundary mx-auto">
			<HeroSection />
			<Collections />
			<Benefits />
		</main>
		<AppFooter />
	</div>
</AppLayout>