---
import AppAnchor from "./AppAnchor.astro";
import MainNavlinks from "./MainNavlinks.astro";
---

<header class="sticky top-0 inset-x-0 flex items-center justify-between py-4 px-5 z-nav bg-base/75 backdrop-blur-md mb-4">
    <AppAnchor />

    <MainNavlinks />

    <button class="hidden lg:block rounded-md outline-2 outline-accent-deep text-accent-vivid hover:text-accent-bright px-3 py-1.5 shadow-accent levitate">
        Connect Wallet
    </button>

    <button class="flex flex-col items-center justify-center gap-1 lg:hidden w-7 h-6 rounded-md p-1 bg-overlay">
        <div class="h-px w-full bg-secondary-text" />
        <div class="h-px w-full bg-secondary-text" />
        <div class="h-px w-full bg-secondary-text" />
    </button>
</header>