---
import AppAnchor from "./AppAnchor.astro";
import BrandTitleSvg from "./BrandTitleSvg.astro";
import Logo from "./Logo.astro";
import MainNavlinks from "./MainNavlinks.astro";
---

<header class="flex items-center justify-between py-4 px-5">
    <AppAnchor />

    <MainNavlinks />

    <button class="hidden lg:block rounded-md outline-2 outline-accent-deep text-accent-vivid hover:text-accent-bright px-3 py-1.5 shadow-accent levitate">
        Connect Wallet
    </button>

    <button class="block lg:hidden w-6 aspect-square outline rounded-md">

    </button>
</header>