---
import CollectionCategSelector from "./CollectionCategSelector.astro";
---

<section class="bg-base">
    <header class="overflow-hidden">
        <CollectionCategSelector />
    </header>
</section>