<article class="flex flex-col  gap-4  text-balance ">
    <hgroup>
        <p class="text-accent-mid uppercase font-semibold">Building a legacy on the blockchain</p>
        <h1 class="leading-snug font-playfair font-semibold mt-2">
            <span>Your Legacy.</span> <br>
            <span class="text-accent-mid">On Chain.</span>
        </h1>
    </hgroup>
    <p class="text-muted-strong mt-2">
        Collect, own, and pass down extraordinary digital assets that stand the test of time.
    </p>
    <div role="group" class="flex flex-col lg:flex-row gap-4 mt-4">
        <button class=" font-semibold bg-accent-mid rounded-md px-4 py-3">Explore Marketplace</button>
        <button class="outlined-element-rounded font-semibold bg-base/25 backdrop-blur-sm rounded-md px-4 py-3">View Collections</button>
    </div>
</article>