---
import { marketplaceMetrics } from "../data/home";
import HeroContent from "./HeroContent.astro";
import HeroImage from "./HeroImage.astro";
import Logo from "./Logo.astro";
import PageHeader from "./PageHeader.astro";
import Statistics from "./Statistics.astro";
import heroDesktop from "../assets/images/home-hero-edited.webp";
import VignetteEffect from "./VignetteEffect.astro";
import FeaturedNftCard from "./FeaturedNftCard.astro";

---

<section id="hero-section" class="flex flex-col py-2 ">
    <div class=" lg:self-center grid grid-cols-1 lg:grid-cols-2 relative lg:px-8 overflow-clip">
        <div class="lg:col-start-1 lg:col-end-2 row-start-1 grid pt-4 pb-8 px-5 lg:px-7 z-20">
            <HeroContent />
        </div>
        <div class="lg:col-start-2 lg:col-end-3 relative overflow-clip">
            <HeroImage />
            <FeaturedNftCard />
            <VignetteEffect />
        </div>
    </div>

    <div class="px-4">
        <Statistics stats={ marketplaceMetrics } />
    </div>
</section>