<article class="flex flex-col  gap-4  text-balance ">
    <hgroup>
        <p class="text-accent uppercase font-semibold">Building a legacy on the blockchain</p>
        <h1 class="leading-snug font-playfair font-semibold mt-2">
            <span>Your Legacy.</span> <br>
            <span class="text-accent">On Chain.</span>
        </h1>
    </hgroup>
    <p class="text-muted-strong mt-2">
        Collect, own, and pass down extraordinary digital assets that stand the test of time.
    </p>
    <div role="group" class="flex flex-col md:flex-row gap-4 mt-4">
        <button class="w-full font-semibold bg-accent-deep hover:bg-accent-vivid rounded-md px-4 py-3 levitate shadow-accent-deep">Explore Marketplace</button>
        <button class="w-full outlined-element-rounded -outline-offset-2 font-semibold bg-base/25 backdrop-blur-sm rounded-md px-4 py-3 levitate shadow-surface">View Collections</button>
    </div>
</article>