<article class="flex flex-col text-balance ">
    <hgroup>
        <small class="text-accent uppercase font-semibold">Building a legacy on the blockchain</small>
        <h1 class="font-playfair leading-none font-semibold">
            <span>Your Legacy.</span> <br>
            <span class="text-accent">On Chain.</span>
        </h1>
    </hgroup>
    <p class="text-muted-strong my-6">
        Collect, own, and pass down extraordinary digital assets that stand the test of time.
    </p>
    <div role="group" class="flex flex-wrap gap-4 mt-4">
        <a href="/collections" class="inline-flex items-center justify-center px-5 py-2 grow  font-semibold bg-accent-deep hover:bg-accent-vivid rounded-md  levitate shadow-accent-deep">Explore Collections</a>
        <a href="/creators" class="inline-flex items-center justify-center px-5 py-2 grow outlined-element-rounded -outline-offset-2 font-semibold bg-base/25 backdrop-blur-sm rounded-md levitate shadow-surface">View Creators</a>
    </div>
</article>