---
import { Image } from "astro:assets";
import heroDesktop from "../assets/images/home-hero-edited.webp";
---

<figure class="w-full h-full pointer-events-none select-none ">
    <div class="relative w-full h-full grid place-items-end pt-10 pb-6 lg:py-0 ">
        <div class="lg:absolute lg:inset-y-0 lg:left-1/2 lg:-translate-x-1/2 w-full -z-10">
            <Image 
                src={heroDesktop} 
                alt="" 
                format="webp" 
                quality={'max'} 
                width={heroDesktop.width} 
                loading={"eager"} fetchpriority={"high"}
                class="w-full h-full object-cover object-top scale-130 md:scale-115 "
            />
        </div>



    </div>
</figure>