---
const mainNavLinks = [
  { label: "Collections", path: "/collections" },
  { label: "Creators", path: "/creators" },
  { label: "About", path: "/about" },
  { label: "Principles", path: "/principles" },
];

const pathname = Astro.url.pathname
const isCurrentRoute = (href: string) => href === "/" ? pathname === "/" : pathname.startsWith(href)

---

<nav class="hidden lg:block">
  <ul class="flex items-center gap-12">
    {mainNavLinks.map(({ label, path }) => (
        <li>
            <a href={path} class={`${isCurrentRoute(path) ? "text-accent-mid": " "}`}>{label}</a>
        </li>
    ))}
  </ul>
</nav>