---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import VignetteEffect from "./VignetteEffect.astro"

interface Props {
  image: ImageMetadata;
  mobileImage: ImageMetadata;
  className?: string
}

const {image, mobileImage, className} = Astro.props;
---

<div class=`${className ?? " "} relative overflow-clip`>
    <Image src={mobileImage}
        alt="" 
        format="webp" 
        quality={'max'} 
        width={mobileImage.width} 
        loading={"eager"} fetchpriority={"high"}
        class="w-full max-h-85 object-cover object-[center_20%] contrast-100 brightness-40 lg:hidden"
    />

    <Image src={image}
        alt="" 
        format="webp" 
        quality={'max'} 
        width={image.width} 
        loading={"eager"} fetchpriority={"high"}
        class="w-full h-full object-cover object-top contrast-100 brightness-70 hidden absolute inset-0 lg:block"
    />
</div>

<VignetteEffect />