---

interface Props {
    headline: string,
    className?: string
}

const { headline, className } = Astro.props
---

<header class={`flex justify-between items-center ${className ?? " "}`}>
    <h4 class="font-semibold capitalize">{headline}</h4>
    <slot />
</header>