---
import { Font } from "astro:assets";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import '../styles/global.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Legacy</title>
        <Font cssVariable="--font-playfair-display" preload/>
	</head>
	<body>
		<div class="w-app-boundary mx-auto">
			<AppHeader />
				<main class="w-app-content-boundary mx-auto">
					<slot />
				</main>
			<AppFooter />
		</div>
	</body>
</html>
